.dashboard-background {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: #f9ebd7;
  justify-content: center;
}

.dashboard-content {
  justify-content: center;
}
